<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skwen.foru.connotationmodule" >


    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/connotation_module_ic_launcher"
        android:label="@string/connotation_module_app_name"
        android:roundIcon="@mipmap/connotation_module_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/connotation_module_AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="label,allowBackup">
        <activity android:name=".alone.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
